<div class="modal fade" id="signup-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Signup</h4>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group">
                        <label>Username</label>
                        <input ng-model="username" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input ng-model="password" type="password" class="form-control">
                    </div>

                    <div ng-click="submit()" class="btn btn-warning btn-lg">Signup</div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>