
$profile-button-height: $navbar-height * (3 / 4);
$profile-button-width: $navbar-height * (3 / 4);

$profile-image-height: $navbar-height / 2;
$profile-image-width: $navbar-height / 2;


profile-badge {
    position: absolute;
    height: $navbar-height;
    width: $profile-button-width;
    top: 0;
    right: 0;
}


profile-badge .profile-button-container {
    height: 100%;
    width: 100%;
}


profile-badge .profile-button {
    height: $profile-button-height;
    width: $profile-button-width;
    font-size: $profile-image-height;
    line-height: 1;
    position: absolute;
    right: 0;
    top: 0; bottom: 0;
    margin-top: auto; 
    margin-bottom: auto;
    cursor: pointer;
}


profile-badge i {
    position: absolute;
    margin: auto;
    height: $profile-image-width;
    width: $profile-image-width;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    color: $primary-light;
    text-align: center;
}


profile-badge .dropdown-menu {
    right: 0;
    margin-left: auto;

    & > li > a {
        cursor: pointer;
    }

}