<div class="profile-button-container dropdown">
    <div class="profile-button dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-user" aria-hidden="true"></i>
    </div>
    <ul class="dropdown-menu" ng-if="!logged_in">
        <li>
            <a id="nav-signup-btn" data-toggle="modal" data-target="#signup-modal">
                Signup
            </a>
        </li>
        <li>
            <a id="nav-login-btn" data-toggle="modal" data-target="#login-modal">
                Login
            </a>
        </li>
        
    </ul>
    <ul class="dropdown-menu" ng-if="logged_in">
        <li>
            <a id="nav-profile-btn" ui-sref="profile" ui-sref-active="nav_selected">
            Profile
        </a>
        </li>

        <li>
            <a id="nav-logout-btn" ng-click="pressed_logout_btn()">
            Logout
        </a>
        </li>
    </ul>
</div>

<!--
<ul class="nav active">
    
    <li>
        <a id="nav-profile-btn" class="nav-button" ui-sref="profile" ui-sref-active="nav_selected">
            Profile
        </a>
    </li>
    
    <li>
        <a id="nav-logout-btn" class="nav-button" ng-click="pressed_logout_btn()">
            Logout
        </a>
    </li>

</ul>
-->