
$nav-button-height: 4rem;
$navbar-button-diameter: 4.5rem;
$navbar-icon-diameter: 3rem;

#navbar {
  position: relative;
  margin-top: -$navbar-height;
  height: $navbar-height;
  width: 100%;
  background: $primary-blue;
}

#navbar .navbar-button-container {
  display: inline-block;
  height: $navbar-height;
  width: $navbar-button-diameter;
  margin-left: 1rem;
  margin-right: 1rem; 
}

#navbar .navbar-button {
  position: absolute;
  height: $navbar-button-diameter;
  width: $navbar-button-diameter;
  margin: auto;
  top: 0;
  bottom: 0;
  font-size: $navbar-icon-diameter;
  cursor: pointer;
}

#navbar .navbar-button-icon {
  position: absolute;
  height: $navbar-icon-diameter;
  width: $navbar-icon-diameter;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: $primary-light;
}

#navbar .navbar-brand-container {
  display: inline-block;
  position: relative;
  height: $navbar-height;
  width: 15rem;
}

#navbar .navbar-brand {
  position: absolute;
  height: 3rem;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1;
  top: 0;
  bottom: 0;
  padding: 0;     // overrides bootstrap
  padding-left: 1rem;
  border-left: 1px solid $primary-light;
  margin: auto 0;
  color: $primary-light;
  cursor: pointer;
}

// anchor for absolute nav-buttons 
#navbar .nav-button-container {
    display: inline-block;
    width: 8rem;
    height: inherit;
}

@media (min-width: $laptop-width) {

  #nav-button-open {
    display: none;
  }

}


