<div id="output-details-wrapper" class="analyzer-output-details" ng-class="{ 'toggled': details_visible }">

    <div class="output-details-header">
        <i ng-click="toggle_details()" class="fa fa-angle-down" aria-hidden="true"></i>
    </div>

    <material-loader display='is_loading' class="output-details-loader"></material-loader>

    <div class="output-details-content">

        <div class="analyzer-details-entry ja_text_font" ng-repeat="entry in entry_list track by $index">

            <div class="analyzer-entry-kanji">
                <div class="analyzer-details-kanji-entry" ng-repeat="kanji in entry['k_ele']">
                    {{kanji["keb"]}} <span class="details-spacer" ng-if="!$last">,</span>
                </div>
            </div>

            <div class="analyzer-entry-reading">
                <span>reading:</span>
                <span class="analyzer-entry-reading-entry" ng-repeat="reading in entry['r_ele'] track by $index">

                    <span ng-if="reading['re_restr'].length != 0">
                        [
                        <span ng-repeat="restriction in reading['re_restr'] track by $index">
                            {{restriction}} <span class="details-spacer" ng-if="!$last">,</span>
                        </span>
                        ]
                    </span>

                    <span>{{reading['reb']}}</span>

                    <span class="details-spacer" ng-if="!$last">,</span>

                </span>
            </div>

            <div class="analyzer-entry-sense" ng-repeat="sense in entry['sense']">

                <div ng-if="sense['gloss']['field'] != null">
                    field: {{sense['gloss']['field']}}
                </div>

                <div class="analyzer-details-gloss-gloss" ng-repeat="gloss in sense['gloss']">
                    <span class="details-spacer" ng-if="$first">definition:</span> {{gloss['#text']}} <span class="details-spacer"
                        ng-if="!$last">,</span>
                </div>

                <div ng-if="sense['pos'] != null">
                    <div class="analyzer-entry-gloss-pos" ng-repeat="pos in sense['pos']">
                        POS: {{pos}}
                    </div>
                </div>


            </div>

        </div>

    </div>



</div>