
.analyzer-output-details {
  position: absolute;
  background-color: $accent-light-darken;
  bottom: 0;
  width: 100%;
  font-size: 1.6rem;
  margin-bottom: -$output-details-height;
  height: $output-details-height;
  box-shadow: 7px 7px 15px #cccccc;
  transition: margin-bottom 0.5s ease;

  &.toggled {
    margin-bottom: 0;
  }

}

.output-details-header {
    position: relative;
    height: $output-details-header-height;
    width: 100%;
    background-color: $primary-blue;

    & i {
        position: absolute;
        left: 0; right: 0;
        margin: 0 auto;
        width: 2em;
        cursor: pointer;
        font-size: 2em;
        text-align: center;
        color: $primary-light;
    }

}

.output-details-loader .loader {
  top: 0; bottom: 0;
  margin: auto auto;
}

.output-details-header-title {
  font-size: $output-details-header-height;
  line-height: $output-details-header-height;
}

.output-details-content {
    overflow-y: scroll;
    max-height: $output-details-height - $output-details-header-height;
    height: 100%;
    padding-left: 1em;
    padding-right: 1em;
    background-color: $primary-light;
}

.analyzer-details-entry {
  padding: .25em;
  display: block;
  border-bottom: 1px solid $primary-dark;

  > * {
    margin-top: .25em;
    border-radius: 0.5em;
    padding: .5em;
  }

  > :last-child {
    margin-bottom: .25em;
  }

}

.analyzer-details-entry + .analyzer-details-entry {
  margin-top: 1em;
}

.analyzer-details-entry-title {
  font-size: 2em;
}

.analyzer-details-entry-content {
  overflow-y: scroll;
}

.popover.bottom > .arrow {

  border-bottom-color: $primary-dark;
  &:after {
    border-bottom-color: $primary-dark;
  }

}

.analyzer-details-kanji-entry, .analyzer-details-gloss-gloss {
  display: inline-block;
}

.details-spacer {
  margin-right: .5em;
}

#content_base > * {
  display:block;
}