

#welcome-title {
    border-bottom: 1px solid black;
}

.welcome-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .material-button {
        margin: .5rem 0;
    }

}
