<div class="main-outter-wrapper container-fluid">

    <div class="main-inner-wrapper container-fluid">

        <div class="main-header">

            <h1 class="header-title">About</h1>

            <h4 class="header-description">
                The goal for this website is to provide english speaking users with a collection of useful tools for breaking down and understanding
                Japanese text. 
                <br/>
                For inputs, the site is currently able to handle raw text input as well as utf-8 encoded PDF
                files. 
                <br/>
                The site is able to tokenize the input text into words and highlight each term by part of speech.
                Clicking on a term will retrieve the word's definition, pronounciation, and alternate spellings.
                <br/>
                Try it out:
                <a ui-sref="analyzer_output({input_text: 'あの、私、残念ですが小用が御座いますので、この辺りで失礼致しますね'})">
                    あの、私、残念ですが小用が御座いますので、この辺りで失礼致しますね
                </a>
            </h4>

        </div>

    </div>

</div>