
.material-button {
    display: inline-flex;
    height: 4rem;
    width: 12rem;
    padding: 1.25rem 0;
    margin: 0 .5rem;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;

    & .material-button-content {
        display: inline-block;
        height: 1.5rem;
        font-size: 1.5rem;
        line-height: 1;
        margin: 0 .25rem;
    }

}

.material-button.flexible {
    width: auto;
    & .material-button-content {
        margin: 0 1rem;
    }
}

.blue-btn {
    color: $white;
    background-color: $blue-700;
    border: 1px solid $blue-800;
    transition: box-shadow .25s ease, 
        background-color .25s ease, 
        border-color .25s ease;

    &:hover {
        background-color: $blue-600;
        border-color: $blue-700;
        box-shadow: 0 0 .5rem $blue-200;
    }

}

.red-btn {
    color: $white;
    background-color: $red-700;
    border: 1px solid $red-800;
    transition: box-shadow .25s ease, 
        background-color .25s ease, 
        border-color .25s ease;

    &:hover {
        background-color: $red-600;
        border-color: $red-700;
        box-shadow: 0 0 .5rem $red-200;
    }
}

.green-btn {
    color: $white;
    background-color: $green-700;
    border: 1px solid $green-800;
    transition: box-shadow .25s ease, 
        background-color .25s ease, 
        border-color .25s ease;

    &:hover {
        background-color: $green-600;
        border-color: $green-700;
        box-shadow: 0 0 .5rem $green-200;
    }
}

.disabled {
    color: #9F9F9F !important;
    background-color: #DFDFDF !important;
    border: none;

    &:hover {
        background-color: #DFDFDF !important;
        border: none;
        box-shadow: none;
    }

}

/*
.blue-btn.disabled {
    background-color: $blue-100;
    border-color: $blue-200;

    &:hover {
        background-color: $blue-100;
        border-color: $blue-200;
        box-shadow: none;
    }
}

.red-btn.disabled {
    background-color: $red-50;
    border-color: $red-100;

    &:hover {
        background-color: $red-50;
        border-color: $red-100;
        box-shadow: none;
    }
}

.green-btn.disabled {
    background-color: $green-50;
    border-color: $green-100;

    &:hover {
        background-color: $green-50;
        border-color: $green-100;
        box-shadow: none;
    }
}
*/