
.primary-blue-button {
    color: $primary-light;
    background-color: $primary-blue;
    border-color: $accent-blue-darken;

    &:hover {
        color: $accent-light-darken;
        background-color: $accent-blue-darken;
    }

}

@import url(https://fonts.googleapis.com/css?family=Roboto:100,400);

body {
    font-family: 'Roboto', sans-serif;
}

@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

.ja_text_font {
    font-family: 'Noto Sans Japanese', sans-serif;
}