
a:hover, a:active, a:focus, a:link, a:visited {
  outline: none;
}

*:before, *:after {
  box-sizing: content-box;
}

// page wrapper contains entire page
html, body, #page-wrapper {
  margin:0;
  padding:0;
  height:100%;
  width: 100%;
  display: block;
  overflow: hidden;
}

#page-nav-and-content-wrapper {
  height:100%;
  width: 100%;
  padding-top: $navbar-height;
  background-color: $primary-light;
  overflow: hidden;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  transition: width 0.5s ease;
  transition: padding-left 0.5s ease;
}

#page-content-wrapper {
  height:100%;
  width: 100%;
  position: relative;
  overflow: auto;
}

.page-primary-content {
  width: 100%;
  padding: 1rem;
}


.loading {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-primary-content {
    width: 600px;
    padding: 0;
    margin: 2rem auto;
  }
}

@media (min-width: $laptop-width) {
  #page-nav-and-content-wrapper {
    padding-left: $sidebar-width;
  }
}

@media (min-width: $desktop-width) {
  .page-primary-content {
    width: 720px;
  }
}