//$primary-blue: #00B7FF;  1976D2   2196F3
$blue-50: #E3F2FD;
$blue-100: #BBDEFB;
$blue-200: #90CAF9;
$blue-500: #2196F3;
$blue-600: #1E88E5;
$blue-700: #1976D2;
$blue-800: #1565C0;

$red-50: #FFEBEE;
$red-100: #FFCDD2;
$red-200: #EF9A9A;
$red-500: #F44336;
$red-600: #E53935;
$red-700: #D32F2F;
$red-800: #C62828;

$green-50: #E8F5E9;
$green-100: #C8E6C9;
$green-200: #A5D6A7;
$green-500: #4CAF50;
$green-600: #43A047;
$green-700: #388E3C;
$green-800: #2E7D32;

$primary-blue: #1976D2;
$accent-blue-lighten: lighten($primary-blue, 10%);
$accent-blue-darken: darken($primary-blue, 10%);

$primary-light: #fff;
$accent-light-lighten: lighten($primary-light, 10%);
$accent-light-darken: darken($primary-light, 10%);
$accent-light-darken-2: darken($primary-light, 20%);

$primary-dark: #242424;
$accent-dark-lighten: lighten($primary-dark, 10%);
$accent-dark-darken: darken($primary-dark, 10%);

$font-light: #999999;
$font-light-lighten: lighten($font-light, 10%);
$font-light-darken: darken($font-light, 10%);
$font-light-selected: lighten($font-light, 20%);

$font-dark: #666;
$font-dark-accent: darken($font-dark, 10%);

$sidebar-text: #9e9e9e;
$sidebar-text-hover: #757575;

$navbar-height: 6rem;
$sidebar-width: 26rem;
$output-details-height: 30rem;
$output-details-header-height: 3rem;

$phone-width: 480px;
$tablet-width: 768px;
$laptop-width: 992px;
$desktop-width: 1200px;

$sidebar-elevation: 1000;

@media (min-width: $tablet-width) {
  .only-mobile {
    display: none;
  }
}

.min-laptop {
  display: none;
}
@media (min-width: $laptop-width) {
  .min-laptop {
    display: initial;
  }
}
