
#sidebar-wrapper {
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: $sidebar-width;
  z-index: $sidebar-elevation;
  overflow: hidden;
  box-sizing: border-box;
  background: #eee;
  margin-left: -$sidebar-width;
  transition: all 0.5s ease;
  
  &.sidebar-visible {
    margin-left: 0px;
  }

}

#sidebar-underlay {
  display: none;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .5;
  z-index: $sidebar-elevation - 1;

  &.sidebar-underlay-visible {
    display: block;
  }

}

#sidebar-wrapper .sidebar-profile-container {
  display: inline-block;
  position: relative;
  height: 2 * $navbar-height;
  width: 100%;
  background: $blue-600;
  margin-bottom: 3rem;
  border-bottom: 3px solid black;
}

#sidebar-wrapper .sidebar-profile-badge {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 3rem;
  line-height: 3rem;
  font-size: 2rem;
  margin: auto 0;
  margin-left: 2rem;
  color: $primary-light;
}

#sidebar-wrapper .sidebar-close-arrow {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  height: 3rem;
  width: 3rem;
  font-size: 3rem;
  color: $primary-light;
  cursor: pointer;
}

#sidebar-wrapper .sidebar-category-header {
  width: calc(100% - 1rem);
  margin-left: 1rem;
  font-size: 2rem;
  color: $primary-blue;
  border-bottom: 1px solid black;
}

#sidebar-wrapper .sidebar-link-container {
  display: inline-block;
  position: relative;
  width: calc(100% - 2rem);
  height: 2rem;
  margin: 1rem 0;
  margin-left: 1rem;
}

#sidebar-wrapper .sidebar-link {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  height: (1.4rem + 2 * .3rem);
  font-size: 1.4rem;
  line-height: 1.4rem;
  padding: .3rem 0;
  padding-left: 1rem;
  margin: auto 0;
  text-decoration: none;
  color: black;
  transition: color 0.2s ease;
  cursor: pointer;

  &:hover {
      color: $sidebar-text-hover;
  }

  &:active, &:focus {
      text-decoration: none;
  }

  &.sidebar_selected {
      color: $primary-blue;
      border-left: .25rem solid #1976D2;
  }
}

@media (min-width: $laptop-width) {
  #sidebar-wrapper {
    margin-left: 0px;

    & .sidebar-close-arrow {
      display: none;
    }

  }
}
