<div id="sidebar-wrapper" class="sidebar" ng-class="{'sidebar-visible': sidebar_visible}">

    <div class="sidebar-profile-container" ng-if="!logged_in">
        <!-- profile icon -->
        <div class="sidebar-profile-badge">
            Guest
        </div>
        <i class="sidebar-close-arrow fa fa-arrow-left" aria-hidden="true" ng-click="hide_sidebar()"></i>
    </div>

    <div class="sidebar-profile-container" ng-if="logged_in">
        <!-- profile icon -->
        <!-- profile name -->
        <div class="sidebar-profile-badge">
            {{username}}
        </div>
        <i class="sidebar-close-arrow fa fa-arrow-left" aria-hidden="true" ng-click="hide_sidebar()"></i>
    </div>

    <div class="sidebar-category-header">
        Reader
    </div>

    <div class="sidebar-link-container">
        <a class="sidebar-link" ui-sref="welcome" ui-sref-active="sidebar_selected">
            welcome
        </a>
    </div>

    <div class="sidebar-link-container">
        <a class="sidebar-link" ui-sref="analyzer_input.text" ui-sref-active="sidebar_selected">
            text input
        </a>
    </div>

    <div class="sidebar-link-container">
        <a class="sidebar-link" ui-sref="analyzer_input.file" ui-sref-active="sidebar_selected">
            file input
        </a>
    </div>

    <div class="sidebar-link-container">
        <a class="sidebar-link" ui-sref="analyzer_input.online_resource" ui-sref-active="sidebar_selected">
            online resource
        </a>
    </div>


    <div class="sidebar-category-header">
        Profile
    </div>

    <div class="sidebar-link-container" ng-if-start="!logged_in">
        <a class="sidebar-link" data-toggle="modal" data-target="#signup-modal">
            signup
        </a>
    </div>

    <div class="sidebar-link-container" ng-if-end>
        <a class="sidebar-link" data-toggle="modal" data-target="#login-modal">
            login
        </a>
    </div>

    <div class="sidebar-link-container" ng-if-start="logged_in">
        <a class="sidebar-link" ui-sref="profile" ui-sref-active="sidebar_selected">
            view profile
        </a>
    </div>
    
    <div class="sidebar-link-container">
        <a class="sidebar-link" ui-sref="settings" ui-sref-active="nav_selected">
            Settings
        </a>
    </div>

    <div class="sidebar-link-container" ng-if-end>
        <a class="sidebar-link" ng-click="logout()">
            log out
        </a>
    </div>
</div>

<div id="sidebar-underlay" ng-class="{'sidebar-underlay-visible': sidebar_visible && !sidebar_always_visible }" ng-click="hide_sidebar()"></div>