<div class="page-primary-content">

    <div class="file-form-container">

        <label class="material-button blue-btn" for="file-input">
            <input id="file-input" type="file" style="display: none;">
            <i class="material-button-content fa fa-folder-open"></i>
            <div class="material-button-content">browse</div>
        </label>

        <div class="file-input-details">
            <div class="file-input-details-filename">
                {{vm.file_input.name}}
            </div>
        </div>

    </div>

    <div class="file-form-action-buttons">

        <div class="material-button red-btn" ng-class="{disabled: vm.file_input == null}" ng-click="vm.clear_file_selector()">
            <div class="material-button-content">
                clear
            </div>
        </div>

        <div class="material-button green-btn" ng-class="{disabled: vm.file_input == null}" ng-click="vm.submit_file()">
            <div class="material-button-content">
                upload
            </div>
        </div>

        <div class="material-loader-container">
            <material-loader display="vm.submission_in_progress" class="material-button-content"></material-loader>
        </div>

    </div>

    <file-viewer 
        on-load-file="vm.on_load_file" 
        on-delete-file="vm.on_delete_file"/>

</div>


<!--
<div class="page-primary-content">

    <file-selector></file-selector>

    <file-viewer></file-viewer>

</div>
-->


<!--
<div id="analyzer-content-wrapper" class="container-fluid">

    <div id="analyzer" class="container-fluid">

        

    </div>

</div>
-->