<div class="analyzer-input-toolbar">

    <i class="toolbar-icon-button fa fa-arrow-left" ui-sref="welcome" aria-hidden="true"></i>

    <div class="material-tabs">

        <div class="tab" ui-sref="analyzer_input.text" ui-sref-active="selected">
            <div class="tab-text" ng-class="{selected: vm.$state.includes('analyzer_input.text')}">
                text
            </div>
        </div>
        <div class="tab" ui-sref="analyzer_input.file" ui-sref-active="selected">
            <div class="tab-text" ng-class="{selected: vm.$state.includes('analyzer_input.file')}">
                file
            </div>
        </div>
        <div class="tab" ui-sref="analyzer_input.online_resource" ui-sref-active="selected">
            <div class="tab-text" ng-class="{selected: vm.$state.includes('analyzer_input.online_resource')}">
                online resource
            </div>
        </div>

    </div>

</div>

<div ui-view="main">

</div>