<div class="analyzer-output-file-wrapper">

    <div class="analyzer-output-toolbar">

        <i class="toolbar-icon-button fa fa-arrow-left" ui-sref="analyzer_input.file" aria-hidden="true"></i>

        <div class="page-selector-container">

            <div class="material-button flexible" ng-click="vm.pressed_last_page()">
                <div class="material-button-content">
                    last page
                </div>
            </div>
            <div class="page-selector-display">
                <input ng-model="vm.current_page_num" class="page-selector-current"></input>
                <div class="page-selector-maximum">of {{vm.max_page_num}}</div>
                <div class="material-button flexible" ng-click="vm.pressed_go_to_page()">
                    <div class="material-button-content">
                        Go
                    </div>
                </div>
            </div>
            <div class="material-button flexible" ng-click="vm.pressed_next_page()">
                <div class="material-button-content">
                    next page
                </div>
            </div>

        </div>

        <div class="flexbox-helper-push-left"></div>

    </div>

    <div class="page-primary-content">

        <material-loader display="vm.loading"></material-loader>

        <div class="analyzer-output">

            <span class="ja_text_font ja_output" ng-class="vm.set_word_class(word.part_of_speech.primary)" ng-repeat="word in vm.words_array"
                    ng-click="vm.load_details(word)">
                {{ word.full_form || word.surface_form }}
            </span>

        </div>

        <output-details external-controller="vm.output_details_controller"></output-details>

    </div>

</div>