<div class="analyzer-output-text-wrapper">

    <div class="analyzer-output-toolbar">

        <i class="toolbar-icon-button fa fa-arrow-left" ui-sref="analyzer_input.text" aria-hidden="true"></i>

    </div>

    <div class="page-primary-content">

        <material-loader display="vm.loading"></material-loader>

        <div class="analyzer-output">

            <span class="ja_text_font ja_output" ng-class="vm.set_word_class(word.part_of_speech.primary)" ng-repeat="word in vm.words_array"
                    ng-click="vm.load_details(word)">
                {{ word.full_form || word.surface_form }}
            </span>

        </div>

        <output-details external-controller="vm.output_details_controller"></output-details>

    </div>

</div>