<div class="page-primary-content">

    <div id="analyzer-header">

        <h1 id="analyzer-header-title">Text input</h1>

        <h4 id="analyzer-header-description">
            Paste text to be examined into the input box below.
        </h4>
    </div>

    <form>
        <div id="analyzer-form" class="form">

            <div class="form-group">
                <label class="control-label" for="analyzer-text-input">Analyze text</label>
                <input id="analyzer-text-input" ng-model="vm.analyzer_input" type="text" class="form-control ja_text_font" placeholder="paste text"
                />
            </div>

            <button ng-click="vm.load_text()" type="submit" class="material-button green-btn">
                <div class="material-button-content">
                    Submit
                </div>
            </button>

        </div>
    </form>

</div>
