
.file-selector-form {
    display: flex;
    height: 4rem;
    margin: 1em 0;
    // align-items: center;
}

.file-selector-submission-btn-container {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.file-button-container {
    display: inline-block;
    height: 4rem;
    font-size: 2rem;
    line-height: 2;
    color: white;
    border-radius: 1rem;
    padding: 0 1rem;
    cursor: pointer;

    &#file-button-remove {
        background-color: #F44336;
    }

    &#file-button-upload {
        background-color: #4CAF50;
    }

}

#browse-file-button {
  padding: 0;
  margin: 0;
}

#file-input-label {
    cursor: pointer;
    padding: .4em .8em;
    margin: 0;
}

#file-selected-badge {
    display: inline-block;
    margin-left: .5em;
    padding: .5em 1.0em;

    font-size: 1em;
    color: $primary-light;
    & * {
        color: $primary-light;
    }

    background-color: $accent-blue-lighten;
    border-radius: 1em;
}


#browse-file-button > i, #analyzer-file-list > i {
  font-size: 1em;
  padding: .25em;
}

#analyzer-file-list {
  display: none;
  background: $primary-light;
  padding: .75em;
  border-radius: 4em;

  & > * {
    color: $font-light;
    font-size: 1em;
  }

}

#analyzer-file-upload-button, #analyzer-file-remove-button {
  cursor: pointer;
}