
<div class="file-selector-form">
    
    <div class="file-selector-browse-badge-container">
     
        <div id="browse-file-button" class="btn primary-blue-button">
            <input id="file-input" type="file" style="display: none;">
            <label id="file-input-label" for="file-input">
                <i class="fa fa-folder-open"></i>
                browse
            </label>
        </div>

        <div id="file-selected-badge" ng-if="file_input">
            <i id="file-type-icon" ng-class="{'fa fa-file-pdf-o': file_input.type == '.pdf'}"></i> 
            {{file_input.name}}
        </div>
    
    </div>

    <div class="file-selector-submission-btn-container">
        
        <div ng-if="file_input" class="btn-group">

            <div id="file-button-remove" class="file-button-container" ng-click="clear_file_selector()">
                
                <i class="file-button-icon fa fa-trash-o" aria-hidden="true"></i>
                remove
            </div>

            <div id="file-button-upload" class="file-button-container" ng-click="submit_file()">
                
                <i class="file-button-icon fa fa-upload" aria-hidden="true"></i>
                upload                
            </div>

        </div>

    </div>
    
</div>


