<nav id="navbar" class="menu">

    <div class="navbar-button-container">
        <a class="navbar-button" id="nav-button-open" ng-click="show_sidebar()">
            <i class="navbar-button-icon fa fa-bars" aria-hidden="true"></i>
        </a>
    </div>

    <div class="navbar-brand-container">
        <a class="navbar-brand" ui-sref="welcome" ui-sref-selected="nav_selected">
            JP-Reader
        </a>
    </div>

    <profile-badge></profile-badge>

</nav>