<div class="main-outter-wrapper container-fluid">

    <div class="main-inner-wrapper container-fluid">

        <div class="main-header">
            <h1 class="main-header-title">About</h1>

            <p>
                The goal for this website is to provide english speaking users with a collection of useful tools for breaking down and understanding
                Japanese text. 
            </p>
            <p>
                For inputs, the site is currently able to handle raw text input as well as utf-8 encoded PDF files.
            </p>
            <p>
                The site is able to tokenize the input text into words and highlight each term by part of speech. 
                Clicking on a term will retrieve the word's definition, pronounciation, and alternate spellings.
            </p>
            <p>
                Try it out:
                <a ui-sref="analyzer_output({input_text: 'あの、私、残念ですが小用が御座いますので、この辺りで失礼致しますね'})">
                    あの、私、残念ですが小用が御座いますので、この辺りで失礼致しますね
                </a>
            </p>

            <h3 class="main-header-title">In progress</h3>

            <p>
                PDF source formatting is being lost with pdfbox.  
                Solution could be to add a display option for rendering through Mozilla's <a href="https://mozilla.github.io/pdf.js/">PDF.js</a> to mirror
                the source formatting more closely. Pdfbox output is currently a bit messy.
            </p>

            <p>
                Provide some sample reading material with <a href="http://wiki.dbpedia.org/">DBpedia's</a> multilingual collection.  
            </p>

        </div>

        <br/>

        <div class="main-header">

            <h2 class="main-header-title">Acknowledgements</h2>

            <div>
                <a href="https://pdfbox.apache.org/">Pdfbox</a> - Parses PDF files and extracts text.
            </div>
            <div>
                <a href="http://taku910.github.io/mecab/">Mecab</a> - Used to tokenize and normalize all input text.  Provides part of speech info as well.
            </div>
            <div>
                <a href="http://www.edrdg.org/jmdict/j_jmdict.html">Jmdict</a> - Expansive dictionary with a good deal of metadata about typical word frequency and usage.
            </div>


        </div>
    
    </div>