<div class="page-primary-content">

    <h1 id="welcome-title">Welcome!</h1>

    <p>
        The goal for this website is to provide english speaking users with a collection of useful tools for breaking down and understanding
        Japanese text.
    </p>

    <p>
        The site is currently able to process raw text as well as utf-8 encoded PDF files.
    </p>

    <p>
        The site is able to tokenize the input text into words and highlight each term by part of speech.
    </p>

    <p>
        Clicking on a term will retrieve the word's definition, pronounciation, and alternate spellings.
    </p>

    <p>
        Try it out:
        <a ui-sref="analyzer_output.text({input_text: 'あの、私、残念ですが小用が御座いますので、この辺りで失礼致しますね'})">
        あの、私、残念ですが小用が御座いますので、この辺りで失礼致しますね
        </a>
    </p>

    <div class="welcome-button-container">
        <div class="material-button flexible blue-btn" ui-sref="analyzer_input.text">
            <div class="material-button-content">
                Text input
            </div>
        </div>

        <div class="material-button flexible blue-btn" ui-sref="analyzer_input.file">
            <div class="material-button-content">
                File input
            </div>
        </div>

        <div class="material-button flexible blue-btn" ui-sref="analyzer_input.online_resource">
            <div class="material-button-content">
                Online resource
            </div>
        </div>

    </div>

</div>