.main-outter-wrapper {
  height: 100%;
  width: 100%;
  padding: 1em;
  overflow: auto;
}

.main-inner-wrapper {
  position: relative;
  padding: 1em;
  background-color: $primary-light;
  transition: height 0.5s ease;
  border-radius: 2px;
  box-shadow: 7px 7px 15px $accent-light-darken-2;
}