

#table-container {
    max-height: 25em;
    overflow: auto;
}

.file-viewer-table {
    table-layout: fixed;

    & .row-fixed-size {
        width: 25%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

}