
<div id="table-container">
    
    <table class="table table-hover file-viewer-table">
    <thead>
      <tr>
        <th>name</th>
        <th>size</th>
        <th>type</th>
        <th>actions</th>
      </tr>
    </thead>
    <tbody>
        
        <tr ng-if="(online_files == null || online_files.length == 0) && !logged_in">
            <td>must be logged in for file storage</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr ng-if="(online_files == null || online_files.length == 0) && logged_in">
            <td>no files stored online</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr ng-repeat="file in online_files" track by $index>
            <td class="row-fixed-size">{{file.filename}}</td>
            <td>{{get_formatted_file_size(file.filesize)}}</td>
            <td>{{file.filetype}}</td>
            <td>
                <div class="btn btn-success" ng-click="on_load_clicked($index)">Load</div>
                <div class="btn btn-danger" ng-click="on_delete_clicked($index)">Delete</div>
            </td>
        </tr>

    </tbody>
</table>

</div>

