
$toolbar-height: 6rem;

// visual icon size
$icon-size: 3rem;

// icon outter area
$icon-padding: .75rem;

// icon active click area
$icon-active-area: calc(#{$icon-size} + (2 * #{$icon-padding}));

// remaining margin on each side of icon
$icon-margin: calc((#{$toolbar-height} - #{$icon-active-area}) / 2);

/*
$tab-font-size: 2rem;

// distance from bottom of toolbar to bottom border
$tab-border-elevation: 1rem;

$tab-height: $toolbar-height - $tab-border-elevation;
*/

.toolbar-icon-button {
    display: inline-block;
    height: $icon-active-area;
    flex: 0 0 $icon-active-area;
    font-size: $icon-size;
    color: $primary-light;
    padding: $icon-padding;
    margin: $icon-margin;
    cursor: pointer;
    transition: border .1s, color .1s;
}

.analyzer-input-toolbar {
    display: flex;
    height: $navbar-height;
    width: 100%;
    background-color: $primary-blue;

    & .material-tabs {
        display: flex;
        height: $toolbar-height;
        flex-grow: 1;
        min-width: 0;

        & .tab {
            display: flex;
            justify-content: center;
            height: $toolbar-height;
            margin: 0 1rem;
            flex-grow: 1;
            min-width: 0;
            cursor: pointer;

            & .tab-text {
                height: 4rem;
                font-size: 2rem;
                line-height: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 1rem;
                color: $blue-200;
                transition: color .25s;
                margin: auto 0;

                &.selected {
                    color: white;
                    border-bottom: .2rem solid $blue-100;
                }

            }
          
            &:hover .tab-text {
                color: white;
            }

        }

    }

}