
.analyzer-output-text-wrapper {
    height: 100%;
    width: 100%;
    padding-top: $navbar-height;

    & .analyzer-output-toolbar {
        margin-top: -$navbar-height;
        justify-content: flex-start;
    }

    & .page-primary-content {
        position: relative;
        height: 100%;
        padding: 2rem 0;
        margin: 0 auto;
        overflow: hidden;
    }

}
