
.analyzer-output-file-wrapper {
    height: 100%;
    width: 100%;
    padding-top: $navbar-height;

    & .analyzer-output-toolbar {
        margin-top: -$navbar-height;
    }

    & .page-primary-content {
        position: relative;
        height: 100%;
        padding: 2rem 0;
        margin: 0 auto;
        overflow: hidden;
    }

}

.analyzer-output-toolbar {
    display: flex;
    justify-content: center;
    position: relative;
    height: $navbar-height;
    width: 100%;
    background-color: $blue-700;

    & .toolbar-icon-button {
        margin-right: auto;
    }

    & .flexbox-helper-push-left {
        display: inline-block;
        width: 0;
        padding: 0;
        margin: 0;
        margin-left: auto;
        visibility: hidden;
    }

    & .page-selector-container {
        display: inline-flex;
        justify-content: center;
        height: inherit;

        & .material-button {
            margin: 1rem 0;
        }

        & .page-selector-display {
            display: flex;
            align-items: center;
            margin: 0 1rem;

            & .page-selector-current, .page-selector-maximum {
                display: inline-block;
                height: 2rem;
                margin: 0 .5rem;
            }

            & .page-selector-current {
                width: 5rem;
                color: white;
                background-color: $blue-500;
                border: .1rem solid $blue-600;
                border-radius: 4px;
            }

            & .page-selector-maximum {
                color: white;
            }

        }
        
        & .material-button {
            color: #aaa;
            background-color: $blue-50;

            &:hover {
                color: #999;
                background-color: white;
                box-shadow: 0 0 .5rem white;
            }
        }

    }

}



