
.analyzer-output-wrapper {
    height: 100%;
    width: 100%;

}

.analyzer-output {
    display: flex;
    flex-wrap: wrap;
    max-height: 100%;
    overflow: auto;

    & > span {
        margin: .5rem;
        font-size: 2rem;
        line-height: 3rem;
    }
}

.ja_output {
    color: $font-dark;
    cursor: pointer;
}


//.output-word {
  // cursor: pointer;
//}


.output-word-N {
  //@extend .output-word;
  border-bottom: 2px solid blue;
}

.output-word-Pa {
  //@extend .output-word;
  //border-bottom: 2px solid #f100a1;
  border-bottom: 2px solid yellow;
}

.output-word-Sy {
  //@extend .output-word;
  //border-bottom: 2px solid #f100a1;
  border-bottom: 2px solid yellow;
}

.output-word-Adj {
  //@extend .output-word;
  border-bottom: 2px solid green;
}

.output-word-V {
  //@extend .output-word;
  border-bottom: 2px solid red;
}

.output-word-Adv {
  //@extend .output-word;
  border-bottom: 2px solid green;
}

.output-word-AuxV {
  //@extend .output-word;
  border-bottom: 2px solid orange;
}