
.file-form-container {
    display: flex;
    height: 4rem;
    margin: 1rem 0;
    width: 100%;

    & .file-input-details {
        flex: 1 1 auto;
        margin-left: 2rem;
        border-bottom: 2px solid #ccc;

        & .file-input-details-filename {
            height: 2rem;
            line-height: 1;
            font-size: 2rem;
            margin-top: 1.5rem;
            margin-bottom: .5rem;
        }

    }

}


.file-form-action-buttons {
    display: block;
    height: 4rem;

    > * {
        vertical-align: top;
    }

}

.material-loader-container {
    display: inline-block;
    position: relative;
    height: 4rem;
    width: 4rem;

    & .loader-container {
        height: inherit;
        width: inherit;
    }

}