
#analyzer-content-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 1em;
  overflow: auto;
}

#analyzer-output-details-container {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#analyzer {
  position: relative;
  padding: 1em;
  background-color: $primary-light;
  min-height: 10em;
  transition: height 0.5s ease;
  border-radius: 2px;
  box-shadow: 7px 7px 15px $accent-light-darken-2;
}

.analyzer-header {
  display: block;
  position: relative;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid $primary-dark;
}

.page-num-display {
  display: inline-flex;
  position: absolute;
  margin: 0 auto;
  width: 300px;
  left: 0; right: 0;
  align-content: center;
  justify-content: center;
  & > * {
    display: inline-block;
  }
}

.page-num-display-form {
  margin: 0 .5em;
  & input {
    width: 75px;
  }

}
