 <% for (var i = 0; i < words_array.length; i++) { %>
    <span class="ja_text_font ja_output <%= get_word_class(words_array[i][1]) %>" data-analyzer-popover>
        <%= words_array[i][10] || words_array[i][0] %>
    </span>
 <%}%>
