<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CJK Reader</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body ng-app="app">

    <my-navbar></my-navbar>

    <div id="wrapper">

        <my-sidebar></my-sidebar>

        <div ui-view="main" id="page-content-wrapper"></div>

    </div>

    <% if (message != null) { %>
        <Notification><%= message %></Notification>
    <%}%>

    <script src="js/bundle.js"></script>
    </body>

</html>