<nav id="navbar" class="menu">

    <a class="toggle-nav" id="nav-button-open" ng-class="sidebar_toggled" ng-click="toggle()"><i class="fa fa-bars" aria-hidden="true"></i></a>
    <a class="toggle-nav" id="nav-button-close" ng-class="sidebar_toggled" ng-click="toggle()"><i class="fa fa-times" aria-hidden="true"></i></a>

    <ul class="nav active" id="nav-links">
        <li><a class="nav-button" ui-sref="about" ui-sref-active="nav_selected">About</a></li>
        <li><a class="nav-button" ui-sref="settings" ui-sref-active="nav_selected">Settings</a></li>
    </ul>

    <div id="nav-user-bar">

        <% if (!logged_in) { %>

            <ul class="nav active" id="nav-user-buttons">
                <li><a id="nav-signup-btn" class="nav-button" data-toggle="modal" data-target="#signup-modal">Signup</a></li>
                <li><a id="nav-login-btn" class="nav-button" data-toggle="modal" data-target="#login-modal">Login</a></li>
            </ul>
            <signup-modal></signup-modal>
            <login-modal></login-modal>

        <%} else {%>
            <profile-badge></profile-badge>
        <%}%>

    </div>
    

</nav>