<% if (entry_list != null) { %>
<% for (var i = 0; i < entry_list.length; i++) {%>
<% var entry = entry_list[i] %>

<div class="popover-entry ja_text_font">

    <!-- Displays list of matching kanji -->
    <div class="popover-kanji">
        <% if (entry['k_ele'] != null) { %>
            <% for (var j = 0; j < entry['k_ele'].length; j++) { %>
                <% var kanji = entry['k_ele'][j] %>
                <div class="popover-kanji-entry">
                    <%= kanji['keb'] %>
                    <% if (j != entry['k_ele'].length - 1) {%>
                        <span class="popover-spacer">,</span>
                    <%}%>
                </div>
            <%}%>
        <%}%>
    </div>

    <!-- Displays list of matching reading elements -->
    <div class="popover-reading">
        <span>reading:</span>
        <% if (entry['r_ele'] != null) { %>
            <% for (var j = 0; j < entry['r_ele'].length; j++) { %>
                <% var reading = entry['r_ele'][j] %>
                <span class="popover-reading-entry">

                    <% if (reading['re_restr'] == null) { %>
                        <span>
                            <%= reading['reb'] %>
                            <% if (j != entry['r_ele'].length - 1) { %>
                                <span class="popover-spacer">,</span>
                            <%}%>
                        </span>
                    <%}%>

                    <% if (reading['re_restr'] != null) { %>
                        <span>
                            <%= reading['re_restr'] %>
                            <span class="popover-spacer">:</span>
                            <%= reading['reb'] %>
                        </span>
                    <%}%>

                </span>
            <%}%>
        <%}%>
    </div>

    <!-- Displays list of definitions, part of speech tags, etc... -->
    <% if (entry['sense'] != null) { %>
        <% for (var j = 0; j < entry['sense'].length; j++) { %>
            <% var sense = entry['sense'][j] %>
            <div class="popover-sense">

                <% if (sense['gloss']['field'] != null) { %>
                <div>
                    field: <%= sense['gloss']['field']%>
                </div>
                <%}%>

                <% if (sense['gloss'] != null) { %>
                    <% for (var k = 0; k < sense['gloss'].length; k++) { %>
                        <% var gloss = sense['gloss'][k] %>
                        <div class="popover-gloss-gloss">
                            <% if (k == 0) {%>
                                <span class="popover-spacer">definition:</span>
                            <%}%>

                            <%= gloss['#text'] %>

                            <% if (k != sense['gloss'].length - 1) { %>
                                <span class="popover-spacer">,</span>
                            <%}%>

                        </div>
                    <%}%>
                <%}%>

                <% if (sense['pos'] != null) { %>
                    <div>
                        <% for (var k = 0; k < sense['pos'].length; k++) { %>
                            <% var pos = sense['pos'][k]%>
                            <div class="popover-gloss-pos">
                                POS: <%=pos%>
                            </div>
                        <%}%>
                    </div>
                <%}%>

            </div>
        <%}%>
    <%}%>

</div>

<% if (i != entry_list.length - 1) { %>
    <br class="popover-entry-break"/>
<%}%>


<%}%>
<%} else { %>
    <h2>Error parsing input</h2>
<%}%>